body {
  padding-top: 100px;
}
.starter-template {
  padding: 15px;
  text-align: center;
}


td a { 
   display: block;
}
td a:hover { 
   text-decoration:none;
}
td a:active { 
   text-decoration:none;
}