body {
  padding-top: 100px;
}
.search-table-div {

    overflow-y: auto;
    height: 500px; 
}
.search-table-div td a { 
   display: block;
}
.search-table-div td a:hover { 
   text-decoration:none;
}
.search-table-div td a:active { 
   text-decoration:none;
}
.dl-horizontal dt{
    text-align: left;
    margin-bottom: 0.5em;
    padding-right: 1em;
    width: 100px;
}
.dl-horizontal dd{
    margin-left: 0;
}
