{% extends "base_customer.html" %}


{% block content %}
<div class="panel-body">
    <div class="row">

        <div class="col-md-4">

            <div class="page-header">
                <h1>Kund</h1>
            </div>
            <dl class="dl-horizontal">
                <dt>Namn:</dt>
                <dd>{{ customer_detail.first_name }} {{ customer_detail.last_name }}</dd>
                <dt>Email:</dt>
                <dd>{{ customer_detail.email }}</dd>     
                <dt>Stad:</dt>
                <dd>{{ customer_detail.postal.city }}</dd>
                <dt>Adress:</dt>
                <dd>{{ customer_detail.street }}</dd>
                <dt>Postadress:</dt>
                <dd>{{ customer_detail.postal.postal }}</dd>
                <dt>Mobil:</dt>
                <dd>{{ customer_detail.telephone_set.all.0 }}</dd> 
                {% if customer_detail.telephone_set.all.1 %}
                    <dt>Telefon:</dt>
                    <dd>{{ customer_detail.telephone_set.all.1 }}</dd>  
                {% endif %}                
            </dl>
            
            <a class="btn btn-default" href="{% url 'customer-update' customer_detail.pk %}" role="button">
                Edit
            </a>
            <a class="btn btn-default" href="{% url 'customer-delete' customer_detail.pk %}" role="button">
                Delete
            </a>

        </div><!-- /.col-md-4" -->


        <div class="col-md-4">
            <div class="page-header">
                <h1>Motorcykel</h1>
            </div>

            {% if mc %}
            <dl class="dl-horizontal">
                <dt>Regnr:</dt>
                <dd>{{ mc.pk }}</dd>
                <dt>Motor:</dt>
                <dd>{{ mc.motor }}</dd>     
                <dt>Märke:</dt>
                <dd>{{ mc.model.brand }}</dd>
                <dt>Modell:</dt>
                <dd>{{ mc.model }}</dd>
                <dt>År:</dt>
                <dd>{{ mc.year }}</dd>
                <dt>Km:</dt>
                <dd>{{ mc.km }}</dd>                
            </dl>

            <a class="btn btn-default" href="{% url 'mc-create' customer_detail.pk %}" role="button">
                Add MC
            </a>
            <a class="btn btn-default" href="{% url 'mc-update' customer_detail.get_active_mc.pk %}" role="button">
                Edit
            </a>
            <a class="btn btn-default" href="{% url 'mc-delete' customer_detail.get_active_mc.pk %}" role="button">
                Delete
            </a>


            {% else %}
            <div class="alert alert-danger">
                <p class="text-center">Har ej motorcykel!</p>
            </div>
            <a class="btn btn-default" href="{% url 'mc-create' customer_detail.pk %}" role="button">
                Add MC
            </a>
            {% endif %} 
            
        </div><!-- /.col-md-4" -->

        <div class="col-md-4">
            <div class="page-header">
                <h1>Motorcyklar</h1>
            </div>

            {% if mc_form %}
            <form class="form-horizontal" role="form" action="{% url 'customer-detail' customer_detail.pk %}" method="POST">{% csrf_token %}
                
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="sr-only" for="id_active_mc">active_mc</label>
                        {% for fields in mc_form %}
                            {{ fields }}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-default">Välj aktiv</button>
                    </div>
                </div>
            </form>
            {% else %}
            <div class="alert alert-danger">
                <p class="text-center">Har ej motorcykel!</p>
            </div>
            {% endif %} 
        </div><!-- /.col-md-4" -->

    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <h1 class="text-center">Historik</h1>           

        </div><!-- /.col-md-12" -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Serviceprotokoll</th>
                            <th class="text-center">Arbetsorder</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if serviceprotocols %}
                        {% for service in serviceprotocols %}
                        
                        <tr class="success">
                            <td class="text-center">
                                <a href="{% url 'service-update' service.pk %}">
                                    {{ service.date }} UPDATEVIEW
                                </a>
                            </td>
 
                            <td class="text-center">
                                <a href="{% url 'service-detail' service.pk %}">
                                    {{ service.date }} - DETAILVIEW
                                </a>
                            </td>       
                        </tr>
                        {% endfor%}
                    {% endif %}
                    </tbody>
                </table>
            </div>          
        </div><!-- /.col-md-12" -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-4 col-md-offset-2">

            <a class="btn btn-default" href="{% url 'service-create' customer_detail.pk %}" role="button">
                Ny serviceorder
            </a>

        </div><!-- /.col-md-12" -->
        <div class="col-md-4 col-md-offset-2">

            <a class="btn btn-default" href="#" role="button">
                Ny arbetsorder
            </a>         

        </div><!-- /.col-md-12" -->
    </div><!-- /.row -->





</div><!-- /.panel-body-->

<div class="panel-footer">
    <p class="text-center">...</p>
</div><!-- /.panel-footer--> 


{% endblock%}


       