{% extends "base_search.html" %}

{% block content %}

    <form action="{% url 'customer-list' %}" method="GET">
        <input type="text" name="q" />
        <button type="submit">search</button>
    </form>

    {% if customer_list %}

        {% for customer in customer_list %}
        <p>
            {{ customer.first_name }}
            {{ customer.last_name }}

            {% with customer.telephone_set.all|first as telephone %}
                {{ telephone.number }}
            {% endwith %}
            
            {{ customer.email }}

            {% with customer.mc_set.all|first as mc %}
                {{ mc.registration_nr }}
            {% endwith %}
        </p>
        {% endfor%}


    {% else %}
        <p>No search matches</p>
    {% endif %}

{% endblock%}