<form action="{% url 'customer-list' %}" method="GET">
    <input type="text" name="q" />
    <button type="submit">search</button>
</form>

{% if customer_list %}
    {% with customer_list|first as customer %}
        {{ customer.first_name }}
        {{ customer.last_name }}

        {% with customer.telephone_set.all|first as telephone %}
            {{ telephone.number }}
        {% endwith %}
        
        {{ customer.email }}

        {% with customer.mc_set.all|first as mc %}
            {{ mc.registration_nr }}
        {% endwith %}
    {% endwith %}
{% else %}
    <p>No search matches</p>
{% endif %}