{% extends "base_add.html" %}

{% block content %}

    <form action="{% url 'customer-add' %}" method="POST">{% csrf_token %}
          
        {{ customer.as_p }}
    --------------------------------------------------------------------------------
        {{ postal.as_p }}
    --------------------------------------------------------------------------------

        {{ telephones.as_p }}

    --------------------------------------------------------------------------------
        {{ mc.as_p }}
    --------------------------------------------------------------------------------
        {{ model.as_p }}

        <button type="submit">Add</button>
    </form>
    
{% endblock %}